.container-footer {
    padding: 0 10px;
    margin: 0 auto;
}

.wrapp-container {
    padding: 40px 30px 20px;
    border-radius: 24px 24px 0 0;
    background-color: #1b414b;
}

.wrapp-nav {
    margin-bottom: 40px;
}

.wrapp-logo-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.header-logo {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
}

.nav-list {
    display: flex;
    gap: 4px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 66px;
    height: 40px;
    background-color: rgba(251, 251, 251, 0.3);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}

.soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.soc-link {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-icon {
    fill: #fbfbfb;
}

.footer-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 82px;
}

.wrapp-footer-text {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
}

@media screen and (max-width: 375px) {
    .wrapp-logo-nav {
        display: block;
    }

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .nav-list {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .container-footer {
        padding: 0 16px;
    }

    .wrapp-container {
        padding: 50px 48px 20px;
    }

    .wrapp-nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 96px;
    }

    .wrapp-logo-nav {
        margin-bottom: 0;
        width: 100%;
    }

    .nav-item .nav-link:hover,
    .nav-item .nav-link:focus {
        background-color: #fbfbfb;
        color: #1b414b;
    }

    .nav-list {
        width: 100%;
        justify-content: center;
    }

    .soc-link .soc-icon:hover {
        fill: rgba(251, 251, 251, 0.8);
    }

    .soc-list {
        align-items: baseline;
    }

    .logo {
        font-size: 20px;
    }

    .nav-link {
        width: 91px;
        height: 40px;
    }

    .footer-subtitle {
        font-size: 32px;
        max-width: 640px;
        margin-bottom: 99px;
    }

    .wrapp-footer-text {
        gap: 32px;
    }

    .footer-text {
        font-size: 14px;
        line-height: 1.18;
    }
}

@media screen and (min-width: 1280px) {
    .container-footer {
        padding: 0 25px;
    }

    .wrapp-container {
        padding: 50px 72px 20px;
    }

    .footer-subtitle {
        max-width: 693px;
    }
}