<footer>
  <div class="container container-footer">
    <div class="wrapp-container">
      <div class="wrapp-nav">
        <div class="wrapp-logo-nav">
          <a href="" class="header-logo">yachtjet</a>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#yachts" class="nav-link">Yachts</a>
            </li>
            <li class="nav-item">
              <a href="#reviews" class="nav-link">Reviews</a>
            </li>
          </ul>
        </div>

        <ul class="soc-list">
          <li class="soc-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="soc-link"
              target="_blank"
            >
              <svg width="19" height="19" class="soc-icon">
                <use href="/img/symbol-defs.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="soc-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="soc-link"
              target="_blank"
            >
              <svg width="20" height="20" class="soc-icon">
                <use href="/img/symbol-defs.svg#icon-YouTube"></use>
              </svg>
            </a>
          </li>
          <li class="soc-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="soc-link"
              target="_blank"
            >
              <svg width="20" height="20" class="soc-icon">
                <use href="/img/symbol-defs.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-subtitle">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
      <div class="wrapp-footer-text">
        <p class="footer-text">2023. Yacht Adventures</p>
        <p class="footer-text">Privacy Police</p>
      </div>
    </div>
  </div>
</footer>
