<div class="modal-container is-open" data-modal>
  <div class="header">
    <div class="header-container">
      <nav class="nav">
        <a href="#" class="logo">yachtjet</a>
      </nav>
      <a href="" class="modal-icon-close" data-modal-close>
        <img src="/img/icons/ion_close-sharp.svg" alt="close" />
      </a>
    </div>
  </div>
  <ul class="modal-list">
    <li class="moadal-item"><a class="modal-link" href="#about">About</a></li>
    <li class="moadal-item"><a class="modal-link" href="#yachts">Yachts</a></li>
    <li class="moadal-item">
      <a class="modal-link" href="#reviews">Reviews</a>
    </li>
  </ul>
  <ul class="moadal-soc-list">
    <li class="moadal-soc-item">
      <a
        class="modal-soc-link"
        href="https://www.instagram.com/"
        target="_blank"
      >
        <img src="/img/icons/inst-foot.svg" alt="instagram" />
      </a>
    </li>
    <li class="moadal-soc-item">
      <a class="modal-soc-link" href="https://www.youtube.com" target="_blank">
        <img src="/img/icons/you-foot.svg" alt="youtube" />
      </a>
    </li>
    <li class="moadal-soc-item">
      <a
        class="modal-soc-link"
        href="https://www.facebook.com/"
        target="_blank"
      >
        <img src="/img/icons/face-foot.svg" alt="facebook" />
      </a>
    </li>
  </ul>
</div>
