<section class="yachts-section" id="yachts">
  <div class="container">
    <div class="yachts-container">
      <h2 class="title title-yachts">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <ul class="yachts-list">
        <li class="yachts-list-item">
          <div class="yachts-img">
            <img
              srcset="
                /img/img-our-yachts/yaht1-desk1440.jpg,
                /img/img-our-yachts/yaht1-desk1440@2x.jpg
              "
              src="/img/img-our-yachts/yaht1-desk1440.jpg"
              alt="yachts-arrow"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-title">
              <p class="yachts-card-name">Arrow</p>
              <p class="yachts-card-class">LUXURY YACHTS</p>
            </div>

            <div class="yachts-content">
              <ul class="yachts-characteristics-list">
                <li class="yachts-characteristics-item">LENGTH</li>
                <li class="yachts-characteristics-item">BUILDER</li>
                <li class="yachts-characteristics-item">BUILT</li>
                <li class="yachts-characteristics-item">GUESTS</li>
                <li class="yachts-characteristics-item">PRICE</li>
              </ul>

              <ul class="yachts-parameters-list">
                <li class="yachts-parameters-item">48m(155ft)</li>
                <li class="yachts-parameters-item">Admiral</li>
                <li class="yachts-parameters-item">2021</li>
                <li class="yachts-parameters-item">11 in 5 cabins</li>
                <li class="yachts-parameters-item">€33,500,000</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="yachts-list-item">
          <div class="yachts-img">
            <img
              srcset="
                /img/img-our-yachts/yaht2-desk1440.jpg,
                /img/img-our-yachts/yaht2-desk1440@2x.jpg
              "
              src="/img/img-our-yachts/yaht2-desk1440.jpg"
              alt="yachts-benetti"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-title">
              <p class="yachts-card-name" title="BENETTI OASIS 40M BO122">
                BENETTI OASIS 40M BO122
              </p>
              <p class="yachts-card-class">LUXURY YACHTS</p>
            </div>

            <div class="yachts-content">
              <ul class="yachts-characteristics-list">
                <li class="yachts-characteristics-item">LENGTH</li>
                <li class="yachts-characteristics-item">SHIPYARD</li>
                <li class="yachts-characteristics-item">BUILT</li>
                <li class="yachts-characteristics-item">GUESTS</li>
                <li class="yachts-characteristics-item">PRICE</li>
              </ul>

              <ul class="yachts-parameters-list">
                <li class="yachts-parameters-item">41m (133ft)</li>
                <li class="yachts-parameters-item">Benetti</li>
                <li class="yachts-parameters-item">2025</li>
                <li class="yachts-parameters-item">10 in 5 cabins</li>
                <li class="yachts-parameters-item">€23,210,000</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="yachts-list-item">
          <div class="yachts-img">
            <img
              srcset="
                /img/img-our-yachts/yaht3-desk1440.jpg,
                /img/img-our-yachts/yaht3-desk1440@2x.jpg
              "
              src="/img/img-our-yachts/yaht3-desk1440.jpg"
              alt="yachts-bella anna"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-title">
              <p class="yachts-card-name">BELLE ANNA</p>
              <p class="yachts-card-class">LUXURY YACHTS</p>
            </div>

            <div class="yachts-content">
              <ul class="yachts-characteristics-list">
                <li class="yachts-characteristics-item">LENGTH</li>
                <li class="yachts-characteristics-item">SHIPYARD</li>
                <li class="yachts-characteristics-item">BUILT</li>
                <li class="yachts-characteristics-item">GUESTS</li>
                <li class="yachts-characteristics-item">PRICE</li>
              </ul>
              <ul class="yachts-parameters-list">
                <li class="yachts-parameters-item">50m(155ft)</li>
                <li class="yachts-parameters-item">ISA</li>
                <li class="yachts-parameters-item">2012</li>
                <li class="yachts-parameters-item">12 in 6 cabins</li>
                <li class="yachts-parameters-item">€21,000,000</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <div class="action-btn">
        <a class="rental-btn yachts-btn" href="#rent">Yacht rental</a>
      </div>
    </div>
  </div>
</section>
