<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <div class="wrapp-rew-text">
      <h2 class="rew-title">
        YachtJet take pride in providing the best possible service and
        experience to our customers
      </h2>
      <p class="rew-subtitle">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <ul class="rew-list">
      <li class="rew-item">
        <img
          src="/img/img-reviews/John-desk1440.jpg"
          srcset="
            /img/img-reviews/John-desk1440.jpg    1x,
            /img/img-reviews/John-desk1440@2x.jpg 2x
          "
          alt="John Wax"
          class="rew-img img-john"
        />
        <p class="rew-name">John Wax</p>
        <p class="rew-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="rew-item">
        <img
          src="/img/img-reviews/Victoria-desk1440.jpg"
          srcset="
            /img/img-reviews/Victoria-desk1440.jpg    1x,
            /img/img-reviews/Victoria-desk1440@2x.jpg 2x
          "
          alt="Victoria Romashenko"
          class="rew-img img-victoria"
        />
        <p class="rew-name">Victoria Romashenko</p>
        <p class="rew-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="rew-item">
        <img
          src="/img/img-reviews/Ihor-desk1440.jpg"
          srcset="
            /img/img-reviews/Ihor-desk1440.jpg    1x,
            /img/img-reviews/Ihor-desk1440@2x.jpg 2x
          "
          alt="Ihor Trachuk"
          class="rew-img img-ihor"
        />
        <p class="rew-name">Ihor Trachuk</p>
        <p class="rew-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
